<h1>HERE'S THE TABLE</h1>

<table border="1px solid black" width=90% style="text-align: center">
  <tr>
    <th>IN_PROD</th>
    <th>MODEL</th>
    <th>FG_ITEM</th>
    <th>ITEM</th>
    <th>FILL_COUNT</th>
    <th>IN_SHT_REQ</th>
    <th>NET_REQD</th>
    <th>AVAILABLE</th>
    <th>AVAIL_SHTS</th>
    <th>WHS_AVAIL_NOW</th>
    <th>THIS_ID</th>
    <th>LINKED_TO_ID</th>
    <th>SHIP_WHSE</th>
    <th>MAKE_WHSE</th>
    <th>PLANNED_ENV</th>
    <th>OUTS</th>
    <th>USES_SAFETY_STOCK</th>
    <th>LINED_TYPE</th>
    <th>E_DATE</th>
    <th>SCENARIO</th>
    <th>NOTE</th>
  </tr>
  <% @envelopes.each do |envelope| %>
    <tr style="text-align: center" style="width: 100%">
      <td> <%= envelope.in_prod %> </td>
      <td> <%= envelope.model %> </td>
      <td> <%= envelope.fg_item %> </td>
      <td> <%= envelope.item %> </td>
      <td> <%= envelope.fill_count %> </td>
      <td> <%= envelope.in_sht_req %> </td>
      <td> <%= envelope.net_reqd %> </td>
      <td> <%= envelope.available %> </td>
      <td> <%= envelope.avail_shts %> </td>
      <td> <%= envelope.whs_avail_now %> </td>
      <td> <%= envelope.this_id %> </td>
      <td> <%= envelope.linked_to_id %> </td>
      <td> <%= envelope.ship_whse %> </td>
      <td> <%= envelope.make_whse %> </td>
      <td> <%= envelope.planned_env %> </td>
      <td> <%= envelope.outs %> </td>
      <td> <%= envelope.uses_safety_stock %> </td>
      <td> <%= envelope.lined_type %> </td>
      <td> <%= envelope.e_date %> </td>
      <td> <%= envelope.scenario %> </td>
      <td> <%= envelope.note %> </td>
    </tr>
  <% end %>
</table>
